graft docs
graft examples
graft src
graft tests

include .bumpversion.cfg
include .coveragerc

include AUTHORS.rst
include CHANGELOG.rst
include requirements.txt
include CONTRIBUTING.rst
include LICENSE
include README.rst

include tox.ini

global-exclude *.py[cod] __pycache__ *.so *.dylib

exclude .gitmodules .git
